<!-- Footer-->
<section class="footer">
  <div class="container">
    <h3 style="color:#53ff1a">Atlantis AM Construction</h3>
    <div class="wrapper">
      <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
        <li> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
        <li> <a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
    </div>
    <div class="copyright">
      <p>© 2019 Atlantis AM Construction. All Rights Reserved | Design by <a
          href="https://apuntaecodigo.com/">aPPCoo</a></p>

    </div>
  </div>
</section>
<!-- /Footer-->