<!-- //header -->

<!-- banner -->
<!-- banner-slider -->
<ngb-carousel *ngIf="images" style="position: relative; z-index: 0">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="first slide" class="img-fluid imagen-header">
    <div class="carousel-caption">
      <h2 >We Are The Best Home Service For Making Your Home Shine</h2>
      <p style="margin-bottom: 20%;">This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="second slide" class="img-fluid imagen-header">
    <div class="carousel-caption">
      <h2>Making your Home Shine and Spotless Is Our Business And Priority</h2>
      <p style="margin-bottom: 20%;">This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]"  alt="third slide" class="img-fluid imagen-header">
    <div class="carousel-caption">
      <h2>Our Home Service Providers will Make You Proud in Society</h2>
      <p style="margin-bottom: 20%;">This carousel uses customized default values.</p>
    </div>
  </ng-template>  
</ngb-carousel>
