<app-nav-bar></app-nav-bar>
<div>
  <div class="slider1-img"></div>
</div>
<!--gallery  -->
<section class="wthree-row w3-gallery py-lg-5 py-md-4 py-md-3 py-2" id="gallery">
  <div class="container-fluid py-lg-5 py-md-4 py-md-3 py-2 text-center">
    <h3 class="heading text-center text-uppercase mb-lg-5 mb-md-4 mb-sm-3 mb-3">Our Gallery</h3>
    <ul class="portfolio-categ filter mb-lg-5 mb-md-4 mb-sm-3 mb-3 text-center">
      <li class="port-filter all active">
        <a>All</a>
      </li>
      <li class="cat-item-1">
        <a  title="Category 1">Drywall Finishing</a>
      </li>
      <li class="cat-item-2">
        <a  title="Category 2">Painter</a>
      </li>
      <li class="cat-item-3">
        <a title="Category 3">Carpenter</a>
      </li>
    </ul>
    <ul class="portfolio-area clearfix">
      <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
        <a href="../../assets/imagenes/127.mp4">
          <video src="../../assets/imagenes/127.mp4" class="img-fluid w3layouts agileits" alt="">
          </video>
          <i class="fas fa-play position-relative" style="bottom:270px;" aria-hidden="true"></i>
        </a>
      </li>
      <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
        <a href="../../assets/imagenes/128.mp4">
          <video src="../../assets/imagenes/128.mp4" class="img-fluid w3layouts agileits" alt="">
          </video>
          <i class="fas fa-play position-relative" style="bottom:270px;" aria-hidden="true"></i>
        </a>
      </li>
      <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
        <div>
          <span class="image-block img-hover">
            <a class="image-zoom" href="../../assets/imagenes/101.jpeg" data-gal="prettyPhoto[gallery]">

              <img src="../../assets/imagenes/101.jpeg" class="img-fluid w3layouts agileits" alt="">

            </a>
          </span>
        </div>
      </li>
      <li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
        <div>
          <span class="image-block">
            <a class="image-zoom" href="../../assets/imagenes/102.jpeg" data-gal="prettyPhoto[gallery]">

              <img src="../../assets/imagenes/102.jpeg" class="img-fluid w3layouts agileits" alt="">

            </a>
          </span>
        </div>
      </li>
    </ul>
    <ul class="portfolio-area clearfix">
      <li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
        <div>
          <span class="image-block">
            <a class="image-zoom" href="../../assets/imagenes/103.jpeg" data-gal="prettyPhoto[gallery]">

              <img src="../../assets/imagenes/103.jpeg" class="img-fluid w3layouts agileits" alt="">

            </a>
          </span>
        </div>
      </li>
      <li class="portfolio-item2" data-id="id-3" data-type="cat-item-4">
        <div>
          <span class="image-block">
            <a class="image-zoom" href="../../assets/imagenes/104.jpeg" data-gal="prettyPhoto[gallery]">

              <img src="../../assets/imagenes/104.jpeg" class="img-fluid w3layouts agileits" alt="">

            </a>
          </span>
        </div>
      </li>
      <li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
        <div>
          <span class="image-block">
            <a class="image-zoom" href="../../assets/imagenes/105.jpeg" data-gal="prettyPhoto[gallery]">

              <img src="../../assets/imagenes/105.jpeg" class="img-fluid w3layouts agileits" alt="">

            </a>
          </span>
        </div>
      </li>
      <li class="portfolio-item2" data-id="id-5" data-type="cat-item-2">
        <div>
          <span class="image-block">
            <a class="image-zoom" href="../../assets/imagenes/106.jpeg" data-gal="prettyPhoto[gallery]">

              <img src="../../assets/imagenes/106.jpeg" class="img-fluid w3layouts agileits" alt="">

            </a>
          </span>
        </div>
      </li>
    </ul>
    <ul class="portfolio-area clearfix">
      <li class="portfolio-item2" data-id="id-6" data-type="cat-item-1">
        <div>
          <span class="image-block">
            <a class="image-zoom" href="../../assets/imagenes/107.jpeg" data-gal="prettyPhoto[gallery]">

              <img src="../../assets/imagenes/107.jpeg" class="img-fluid w3layouts agileits" alt="">

            </a>
          </span>
        </div>
      </li>
      <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
        <div>
          <span class="image-block">
            <a class="image-zoom" href="../../assets/imagenes/108.jpeg" data-gal="prettyPhoto[gallery]">

              <img src="../../assets/imagenes/108.jpeg" class="img-fluid w3layouts agileits" alt="">

            </a>
          </span>
        </div>
      </li>
      <li class="portfolio-item2" data-id="id-9" data-type="cat-item-4">
        <div>
          <span class="image-block">
            <a class="image-zoom" href="../../assets/imagenes/109.jpeg" data-gal="prettyPhoto[gallery]">

              <img src="../../assets/imagenes/109.jpeg" class="img-fluid w3layouts agileits" alt="">

            </a>
          </span>
        </div>
      </li>
      <li class="portfolio-item2" data-id="id-9" data-type="cat-item-3">
        <div>
          <span class="image-block">
            <a class="image-zoom" href="../../assets/imagenes/110.jpeg" data-gal="prettyPhoto[gallery]">

              <img src="../../assets/imagenes/110.jpeg" class="img-fluid w3layouts agileits" alt="">

            </a>
          </span>
        </div>
      </li>
    </ul>
    <ul class="portfolio-area clearfix">
      <li class="portfolio-item2" data-id="id-10" data-type="cat-item-2">
        <div>
          <span class="image-block">
            <a class="image-zoom" href="../../assets/imagenes/111.jpeg" data-gal="prettyPhoto[gallery]">

              <img src="../../assets/imagenes/111.jpeg" class="img-fluid w3layouts agileits" alt="">

            </a>
          </span>
        </div>
      </li>
      <li class="portfolio-item2" data-id="id-8" data-type="cat-item-1">
        <div>
          <span class="image-block">
            <a class="image-zoom" href="../../assets/imagenes/112.jpeg" data-gal="prettyPhoto[gallery]">

              <img src="../../assets/imagenes/112.jpeg" class="img-fluid w3layouts agileits" alt="">

            </a>
          </span>
        </div>
      </li>
      <li class="portfolio-item2" data-id="id-9" data-type="cat-item-3">
        <div>
          <span class="image-block">
            <a class="image-zoom" href="../../assets/imagenes/113.jpeg" data-gal="prettyPhoto[gallery]">

              <img src="../../assets/imagenes/113.jpeg" class="img-fluid w3layouts agileits" alt="">

            </a>
          </span>
        </div>
      </li>
      <li class="portfolio-item2" data-id="id-10" data-type="cat-item-2">
        <div>
          <span class="image-block">
            <a class="image-zoom" href="../../assets/imagenes/114.jpeg" data-gal="prettyPhoto[gallery]">

              <img src="../../assets/imagenes/114.jpeg" class="img-fluid w3layouts agileits" alt="">

            </a>
          </span>
        </div>
      </li>
    </ul>
    <ul class="portfolio-area clearfix">
      <li class="portfolio-item2" data-id="id-8" data-type="cat-item-1">
        <div>
          <span class="image-block">
            <a class="image-zoom" href="../../assets/imagenes/115.jpeg" data-gal="prettyPhoto[gallery]">

              <img src="../../assets/imagenes/115.jpeg" class="img-fluid w3layouts agileits" alt="">

            </a>
          </span>
        </div>
      </li>
    </ul>
    <!--end portfolio-area -->

  </div>
  <!-- //gallery container -->
</section>
<!-- //gallery -->

<app-footer></app-footer>
