<app-header-atlantis></app-header-atlantis>
<section class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2">
  <div class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 w3_ban">
          <div class="card">
            <img class="card-img-top" src="../assets/imagenes/bb4.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Drywall Finishing</h5>
              <p class="card-text">Some quick example text to build on the Fast Service and make up the bulk of the
                card's content.</p>
              <a href="#" class="btn btn-success btn-lg btn-explore">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 w3_ban">
          <div class="card">
            <img class="card-img-top" src="../assets/imagenes/bb5.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Painter</h5>
              <p class="card-text">Some quick example text to build on the Fast Service and make up the bulk of the
                card's content.</p>
              <a href="#" class="btn btn-success btn-lg btn-explore">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 w3_ban1">
          <div class="card">
            <img class="card-img-top" src="../assets/imagenes/bb1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Carpenter</h5>
              <p class="card-text">Some quick example text to build on the Fast Service and make up the bulk of the
                card's content.</p>
              <a href="#" class="btn btn-success btn-lg btn-explore">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 w3_ban1">
          <div class="card">
            <img class="card-img-top" src="../assets/imagenes/bb2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Plumber</h5>
              <p class="card-text">Some quick example text to build on the Fast Service and make up the bulk of the
                card's content.</p>
              <a href="#" class="btn btn-success btn-lg btn-explore">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 w3_ban1">
          <div class="card">
            <img class="card-img-top" src='../assets/imagenes/bb3.jpg' alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Electrician</h5>
              <p class="card-text">Some quick example text to build on the Fast Service and make up the bulk of the
                card's content.</p>
              <a href="#" class="btn btn-success btn-lg btn-explore">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 w3_ban">
          <div class="card">
            <img class="card-img-top" src="../assets/imagenes/bb6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Fitter</h5>
              <p class="card-text">Some quick example text to build on the Fast Service and make up the bulk of the
                card's content.</p>
              <a href="#" class="btn btn-success btn-lg btn-explore">Explore</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Contact -->
<section class="contact py-lg-5 py-md-4 py-md-3 py-2" style="background-color: #53ff1a">
  <div class="container py-lg-5 py-md-4 py-md-3 py-2">
    <div class="w3_mg">
      <h3 style="color: black;text-shadow: 2px 2px #333333;">Atlantis AM Construction</h3>
      <p class=" my-lg-4 my-md-3 my-sm-2 my-2" style="color:#333333">a brief history of the company. Lorem Ipsum is
        simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      <!-- Button trigger modal -->
      <button style="background-color: black;" type="button" class="btn btn-success btn-lg" data-toggle="modal"
        data-target="#exampleModal">
        Conatct Page
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Fast Service</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="contact" id="contact">
                <div class="container">
                  <h3 class="title clr">CONTACT FORM</h3>
                  <div class=" contact-form">
                    <form action="#" method="post">
                      <div class="row contact-bothside-agileinfo">
                        <div class="col-md-6 col-sm-6 col-xs-6 form-right form-left">
                          <input type="text" name="Name" placeholder="Name" required="">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-right ">
                          <input type="text" name="Last name" placeholder="Last name" required="">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-right form-left">
                          <input type="email" name="Email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-right ">
                          <input type="text" name="phone" placeholder="Phone" required="">
                        </div>
                        <textarea name="Message" placeholder="Message" required=""></textarea>
                        <input type="submit" value="SUBMIT">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Conatct -->
<br>
<section class="pricinglist ">
  <div class="pricinglist ">
    <h3 class="mb-lg-5 mb-md-4 mb-sm-3 mb-2">Our Prices OverView</h3>
    <div class="container">
      <div class="w3_1">
        <div class="row">
          <div class="col-sm-6 w3_a1">
            <h4>Drywall Finishing</h4>
            <p>Lorem Ipsum</p>
          </div>
          <div class="col-sm-6 w3_a2">
            <h4>$9.00</h4>
          </div>
        </div>
      </div>
      <div class="w3_1">
        <div class="row">
          <div class="col-sm-6 col-xs-6 w3_a1">
            <h4>Interior Decoration</h4>
            <p>Lorem Ipsum</p>
          </div>
          <div class="col-sm-6 col-xs-6 w3_a2">
            <h4>$90.00</h4>
          </div>
        </div>
      </div>
      <div class="w3_1">
        <div class="row">
          <div class="col-sm-6 w3_a1">
            <h4>Gardening</h4>
            <p>Lorem Ipsum</p>
          </div>
          <div class="col-sm-6 w3_a2">
            <h4>$120.00</h4>
          </div>
        </div>
      </div>
      <div class="w3_1">
        <div class="row">
          <div class="col-sm-6 w3_a1">
            <h4>Flooring</h4>
            <p>Lorem Ipsum</p>
          </div>
          <div class="col-sm-6 w3_a2">
            <h4>$80.00</h4>
          </div>
        </div>
      </div>
      <div class="w3_1">
        <div class="row">
          <div class=" col-sm-6 w3_a1">
            <h4>Exterior Decoration</h4>
            <p>Lorem Ipsum</p>
          </div>
          <div class="col-sm-6 w3_a2">
            <h4>$99.00</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mission py-lg-5 py-md-4 py-md-3 py-2">
  <div class="mission py-lg-5 py-md-4 py-md-3 py-2">
    <div class="row">
      <div class="col-md-3 col-sm-12 w3_ms8">
        <img src="../assets/imagenes/bb9.jpg" alt="San Cristóbal City" class="img-fluid">
      </div>
      <div class="col-md-3 col-sm-12 w3_ms">
        <div class="row inner_stat_wthree_agileits">

          <div class="col-md-6 stats_left counter_grid2">
            <i class="far fa-edit"></i>
            <p class="counter">563</p>
            <h4>Projects</h4>
          </div>
          <div class="col-md-6 stats_left counter_grid3">
            <i class="far fa-smile"></i>
            <p class="counter">1045</p>
            <h4>Happy Clients</h4>
          </div>

        </div>
      </div>

      <div class="col-md-6 col-sm-12 w3_ms3">
        <!-- Slideshow container -->
        <div [ngSwitch]="slideIndex" class="slideshow-container">

          <!-- Full-width slides/quotes -->
          <div *ngSwitchCase="1" class="mySlides">
            <img src="../assets/imagenes/test1.jpg" alt="xyt" class="img-fluid">
            <h4>totally satisfied with the work, excellent service. they do a pretty flawless job</h4>

          </div>

          <div *ngSwitchCase="2" class="mySlides">
            <img src="../assets/imagenes/test2.jpg" alt="xyt" class="img-fluid">
            <h4>I liked the work, 100% recommended</h4>

          </div>

          <div *ngSwitchCase="3" class="mySlides">
            <img src="../assets/imagenes/test3.jpg" alt="xyt" class="img-fluid">
            <h4>There was a misunderstanding with the terminations, and they solved very quickly. I liked it so much
              that I remodeled places I did not think about.</h4>

          </div>

          <!-- Next/prev buttons -->
          <a class="prev" (click)="plusSlides()">&#10094;</a>
          <a class="next" (click)="lessSlides()">&#10095;</a>
        </div>

      </div>
      <div class="col-md-3 col-sm-12 w3_ms7">
        <h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Our Creative</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s</p>
      </div>

      <div class="col-md-3 col-sm-12 w3_ms1">
        <h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Our Mission</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s</p>
      </div>

      <div class="col-md-3 col-sm-12 w3_ms6">
      </div>
      <div class="col-md-3 col-sm-12 w3_ms4">
        <h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Our Vision</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s</p>
      </div>
    </div>
  </div>
</section>

<!-- Skills -->
<!-- <section class="skills py-lg-5 py-md-4 py-md-3 py-2">
  <div class="stats wthree-sub py-lg-5 py-md-4 py-md-3 py-2" id="skills">
      <div class="container"> 
          <h3 style="color:limegreen" class="w3l-title mb-lg-4 mb-md-3 mb-sm-2 mb-2">Our Skills</h3>
          <div class="row">
          <div class="col-sm-6 stats_grid_right">
              <div class="skillbar" >
                <span class="skillbar-title" style="background: #f1703a;">INTERIORS</span>
                <p class="skillbar-bar" style="background: #f88c5e;"></p>
               
              </div>
            
              
              <div class="skillbar" data-percent="100">
                <span class="skillbar-title" style="background: #2980b9;">EXTRIORS</span>
                <p class="skillbar-bar" style="background: #3498db;"></p>
                <span class="skill-bar-percent"></span>
              </div>
             
              
              <div class="skillbar" data-percent="100">
                <span class="skillbar-title" style="background: #a0d034;">GARDENING</span>
                <p class="skillbar-bar" style="background: #b2ec2f;"></p>
                <span class="skill-bar-percent"></span>
              </div>
            
          </div>
          <div class="col-sm-6 stats_grid_right"> 
              <div class="skillbar" data-percent="54">
                <span class="skillbar-title" style="background: #f1703a;">ROOFING</span>
                <p class="skillbar-bar" style="background: #f88c5e;"></p>
                <span class="skill-bar-percent"></span>
              </div>
            
              
              <div class="skillbar" data-percent="64">
                <span class="skillbar-title" style="background: #2980b9;">PARTIES</span>
                <p class="skillbar-bar" style="background: #3498db;"></p>
                <span class="skill-bar-percent"></span>
              </div>
            
              
              <div class="skillbar" data-percent="84">
                <span class="skillbar-title" style="background: #a0d034;">DECORATION</span>
                <p class="skillbar-bar" style="background: #b2ec2f;"></p>
                <span class="skill-bar-percent"></span>
              </div>
          </div>
          </div>
      </div> 
  </div>
  </section> -->

<app-footer></app-footer>

<!-- bootstrap-pop-up for login and register -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Atlantis AM Construction
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <section>
        <div class="modal-body">
          <div class="loginf_module">
            <div class="module form-module">
              <div class="toggle">
                <i class="fa fa-times fa-pencil"></i>
                <div class="tooltip">Register</div>
              </div>
              <div class="form">
                <h3>Login to your account</h3>
                <form action="#" method="post">
                  <input type="text" name="Username" placeholder="Username" required="">
                  <input type="password" name="Password" placeholder="Password" required="">
                  <input type="submit" value="Login">
                </form>
                <div class="cta">
                  <a href="#">Forgot password?</a>
                </div>
              </div>
              <div class="form">
                <h3>Create a new account</h3>
                <form action="#" method="post">
                  <input type="text" name="Username" placeholder="Username" required="">
                  <input type="password" name="Password" placeholder="Password" required="">
                  <input type="email" name="Email" placeholder="Email address" required="">
                  <input type="text" name="Phone" placeholder="Phone Number" required="">
                  <input type="submit" value="Register">
                </form>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- //bootstrap-pop-up for login and register-->


<script>
          // You can also use "$(window).load(function() {"

</script>
<!-- //banner Slider -->


<script src="js/easy-responsive-tabs.js"></script>
<script>
  $(document).ready(function () {
    $('#horizontalTab').easyResponsiveTabs({
      type: 'default', //Types: default, vertical, accordion           
      width: 'auto', //auto or any width like 600px
      fit: true,   // 100% fit in a container
      closed: 'accordion', // Start closed if in accordion view
      activate: function (event) { // Callback function if tab is switched
        var $tab = $(this);
        var $info = $('#tabInfo');
        var $name = $('span', $info);
        $name.text($tab.text());
        $info.show();
      }
    });
    $('#verticalTab').easyResponsiveTabs({
      type: 'vertical',
      width: 'auto',
      fit: true
    });
  });
</script>
<!--//tabs-->
<!--team-->
<script type="text/javascript">
  $(window).load(function () {
    $("#flexiselDemo1").flexisel({
      visibleItems: 4,
      animationSpeed: 1000,
      autoPlay: true,
      autoPlaySpeed: 3000,
      pauseOnHover: true,
      enableResponsiveBreakpoints: true,
      responsiveBreakpoints: {
        portrait: {
          changePoint: 480,
          visibleItems: 1
        },
        landscape: {
          changePoint: 640,
          visibleItems: 2
        },
        tablet: {
          changePoint: 768,
          visibleItems: 3
        }
      }
    });

  });
</script>
<script type="text/javascript" src="js/jquery.flexisel.js"></script>

<!--team-->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',
      fixedContentPos: false,
      fixedBgPos: true,
      overflowY: 'auto',
      closeBtnInside: true,
      preloader: false,
      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

  });
</script>
<script type="text/javascript">
  var words = document.getElementsByClassName('word');
  var wordArray = [];
  var currentWord = 0;

  words[currentWord].style.opacity = 1;
  for (var i = 0; i < words.length; i++) {
    splitLetters(words[i]);
  }

  function changeWord() {
    var cw = wordArray[currentWord];
    var nw = currentWord == words.length - 1 ? wordArray[0] : wordArray[currentWord + 1];
    for (var i = 0; i < cw.length; i++) {
      animateLetterOut(cw, i);
    }

    for (var i = 0; i < nw.length; i++) {
      nw[i].className = 'letter behind';
      nw[0].parentElement.style.opacity = 1;
      animateLetterIn(nw, i);
    }

    currentWord = (currentWord == wordArray.length - 1) ? 0 : currentWord + 1;
  }

  function animateLetterOut(cw, i) {
    setTimeout(function () {
      cw[i].className = 'letter out';
    }, i * 80);
  }

  function animateLetterIn(nw, i) {
    setTimeout(function () {
      nw[i].className = 'letter in';
    }, 340 + (i * 80));
  }

  function splitLetters(word) {
    var content = word.innerHTML;
    word.innerHTML = '';
    var letters = [];
    for (var i = 0; i < content.length; i++) {
      var letter = document.createElement('span');
      letter.className = 'letter';
      letter.innerHTML = content.charAt(i);
      word.appendChild(letter);
      letters.push(letter);
    }

    wordArray.push(letters);
  }

  changeWord();
  setInterval(changeWord, 4000);

</script>

<!-- stats -->
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.countup.js"></script>
<script>
  $('.counter').countUp();
</script>
<!-- //stats -->
<!-- skills -->
<script src="js/skill.bars.jquery.js"></script>
<script>
  $(document).ready(function () {

    $('.skillbar').skillBars({
      from: 0,
      speed: 4000,
      interval: 100,
      decimals: 0,
    });

  });
</script>
<!-- //skills -->
<!-- sign in and signup pop up toggle script -->
<script>
  $('.toggle').click(function () {
    // Switches the Icon
    $(this).children('i').toggleClass('fa-pencil');
    // Switches the forms  
    $('.form').animate({
      height: "toggle",
      'padding-top': 'toggle',
      'padding-bottom': 'toggle',
      opacity: "toggle"
    }, "slow");
  });
</script>
<!-- sign in and signup pop up toggle script -->

<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
  $(document).ready(function () {
    /*
        var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
        };
    */

    $().UItoTop({ easingType: 'easeOutQuart' });

  });
</script>
<!-- //here ends scrolling icon -->
<!-- scrolling script -->
<script type="text/javascript">
  jQuery(document).ready(function ($) {
    $(".scroll").click(function (event) {
      event.preventDefault();
      $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
    });
  });
</script>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
<!-- //scrolling script -->
<!--//start-smoth-scrolling -->




<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>